<a href="https://colab.research.google.com/github/VaidyaRaviteja/Python/blob/main/Python_Beginner4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Tuples

- **Tuple properties:** ordered, iterable, immutable, can contain multiple data types
- Like lists, but they don't change size

In [1]:
# create a tuple directly
digits = (0, 1, 'two')

In [2]:
# create a tuple from a list
digits = tuple([0, 1, 'two'])

In [3]:
# trailing comma is required to indicate it's a tuple
zero = (0,)

**Examine a tuple:**

In [4]:
digits[2]

'two'

In [5]:
len(digits)

3

In [6]:
# counts the number of instances of that value
digits.count(0)

1

In [7]:
# returns the index of the first instance of that value
digits.index(1)

1

**Modify a tuple:**

In [8]:
# elements of a tuple cannot be modified (this would throw an error)
# digits[2] = 2

In [9]:
# concatenate tuples
digits = digits + (3, 4)
digits

(0, 1, 'two', 3, 4)

**Other tuple operations:**

In [10]:
# create a single tuple with elements repeated (also works with lists)
(3, 4) * 2

(3, 4, 3, 4)

In [11]:
# sort a list of tuples
tens = [(20, 60), (10, 40), (20, 30)]
sorted(tens)    # sorts by first element in tuple, then second element

[(10, 40), (20, 30), (20, 60)]

In [12]:
num=[(5,10),(20,25),(10,15)]
sorted(num)

[(5, 10), (10, 15), (20, 25)]

In [13]:
# tuple unpacking
student = ('male', 10, 'Ravi')    # create a tuple
(sex, age, surname) = student        # assign three values at once
print(sex)
print(age)
print(surname)

male
10
Ravi

In [14]:
teja=('redmi','hp','water')
(mobile,laptop,bottle)=teja
print(mobile)
print(laptop)
print(bottle)

redmi
hp
water