<a href="https://colab.research.google.com/github/VaidyaRaviteja/Python/blob/main/Python_Beginner8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = range(10)
a

range(0, 10)

In [2]:
List1 = [1,2,3,3,4,5]
List1[3]

3

In [3]:
Tuple = (1,1,2,5,6)
Tuple

(1, 1, 2, 5, 6)

In [4]:
###Adding Two nUmbers
a = int(input("Enter a Number: "))
b = int(input("Enter b Number: "))
print("The Sum of two variables are: ",a+b)

Enter a Number:

ValueError: invalid literal for int() with base 10: ''

In [ ]:
print("Employee Details")
Eno_  = int(input("Enter the Employee Id: "))
Ename = input("Enter the Employee Name: ")
Esal  = int(input("Enter the Employee Salary: "))
Eaddr = input("Enter the Emplpoyee Address: ")
Emarry = input("Enter the marital status[True|False]: ")
print("Confirm the Deatils ")
print("Employee No: ",Eno_)
print("Employee Name is: ",Ename)
print("Employee Salary is: ",Esal)
print("Employee Address is: ",Eaddr)
print("Employee Marital Status is: ",Emarry)

In [ ]:
a,b = [int(x) for x in input("Enter two numbers: ").split()]
print("Product is: ",a*b)

In [ ]:
x,y = [int(z) for z in input("Enter two numbers: ").split()]
print("Division of two numbers : ",x/y)

In [ ]:
ravi,teja = [int(a) for a in input("Enter both numbers").split()]
print("Addition of both numbers is : ",ravi+teja)

In [ ]:
x,y,z = [float(a) for a in input("Enter 3 Float values: ").split()]
print("Sum of 3 float values are: ",x+y+z)

In [ ]:
### Add 4 candidates %
f,g,h,j = [float(b) for b in input("Enter Percentage values of every one: ").split()]
print("Sum of Percentage value is: ",f+g+j+h , "Out of 400.")

In [ ]:
x = eval(input("Solve the given data: ",q+r+t+u))

In [5]:
g = 30
b = (g/100 *100)
print(b)

30.0

In [6]:
g = 30
t = 100
p = (g/100)*100
print(p)

30.0

In [7]:
part = 40  # part of the total
total = 00  # total value
percentage = (part / total) * 100
print("Percentage:", percentage)

ZeroDivisionError: division by zero

In [8]:
#list ordered mutable insertionorder  heterogeneous growable duplicatesallowed append remove
list = [1,2,'ravi']
print(list)

[1, 2, 'ravi']

In [9]:
#tuple ordered noduplicates immutable noappend noremove noindexing noinsertionorder
tuple = ('hi','ravi',8088)
tuple

('hi', 'ravi', 8088)

In [10]:
#set unordered mutable heterogenous insertnotallowed add remove duplicatesnotallowed growablenature indexingnot
s = {12,13,14,15,16}
s.add(10)
print(s)

{16, 10, 12, 13, 14, 15}

In [11]:
#frozenset unordered immutable noadd noremove heterogeneous
frozen = {'hey',10,'hello'}
frozen

{10, 'hello', 'hey'}

In [12]:
#dictionary key-valuepair duplicatenotallowed duplicatevalueallowed mutable unordered
dict = {101:'ravi',102:'teja',101:'hey'}
dict

{101: 'hey', 102: 'teja'}

In [13]:
#none data type novalueassigned
def m():
  if a > 10:
    print (" i am the greatest")
  else:
    print ("hehehe")

In [14]:
m(2)

TypeError: m() takes 0 positional arguments but 1 was given

In [ ]:
a = 12
b = 10
print('a+b=',a+b)
print('a-b=',a-b)
print('a/b=',a/b)
print('a//b=',a//b)
print('a*b=',a*b)
print('a**b=',a**b)

In [ ]:
Data1 = 'Hey hi ra'
Data2 = 'Ha cheppura'
print(Data1==Data2)
print(Data1<Data2)
print(Data1>Data2)
print(Data1<=Data2)
print(Data1>=Data2)

In [15]:
w = 10
x = 22
print(w == x)
print(w!=x)
10==2==32

False
True

False

In [16]:
"ravi" and "teja"
"" and "Hey"
'' or 'ravi'
'ravit' or 'ravi'

'ravit'

In [17]:
not ""
not "ravi"

False

In [18]:
print(4&5)
print(6|0|9|0)
print(4^8)

4
15
12

In [19]:
print(~7)
print(~19)

-8
-20

In [20]:
print(10<<2)

40

In [21]:
#assignment operator
b = 12
b+=3
b

15

In [22]:
a-=5
print(a)
a*=2
print(a)
a**=2
print(a)
a/=2
print(a)
a//=2
print(a)

TypeError: unsupported operand type(s) for -=: 'range' and 'int'

In [23]:
b=10
b+=5
print(b)

15

In [24]:
b-=5
print(b)
b*=2
print(b)
b**=2
print(b)
b|=2
print(b)
b^=4
print(b)
b<<=4
print(b)
b>>=4
print(b)
b//=2
print(b)
b/=2
print(b)

10
20
400
402
406
6496
406
203
101.5

In [25]:
#ternary
Maths,Science = 78,86
Marks = 'Qualified' if a > b else 'Not Qualified'
print(Marks)
a,b = 10,20
c = 30 if a+b ==30 else 'Not a greater Number'
print(c)
#print min num from 3 inputs
x = int(input('Enter the First number: '))
y = int(input("Enter the second number: "))
z = int(input("Enter the third number: "))
Min = x if x<y and x<z else y if y<z else z
print('Min value is: ',Min)

#print max num from 5 inputs
q = int(input("Enter the first value:"))
r = int(input("Enter the second value:"))
s = int(input("Enter the third value:"))
t = int(input("Ente the fourth value:"))
u = int(input("Enter the Fifth value:"))
Max = q if q>r and q>s and q>t and q>u else r if r > s and r>t and r>t and r>u else s if s>t and s>u else t if t>u else u
print("Max value is: ",Max)

TypeError: '>' not supported between instances of 'range' and 'float'

In [26]:
l = input("Enter the first valaue:")
j = input("Enter the second value:")
print("Both the numbers or values are equal" if l ==j else "First value is greater than second value" if l>j else"Second value is greater than first value")

Enter the first valaue:
Enter the second value:
Both the numbers or values are equal

In [27]:
#special operators 1) Identity oprator 2) Membership Oprator
#Identity
age1 = 19
age2 = 24
print(age1 is not age2)
print(age1 is age2)

Name1 = "Ravi"
Name2 = "Teja"
Name3 = "Ravi"
print(id(Name1))
print(id(Name2))
print(id(Name3))
print(Name1 is not Name2)
print(Name1 is Name3)
print(Name1 is Name2)

list1 = ["Ram","Sita","Laxman"]
list2 = ["Ram","Sita","Laxman"]
print(id(list1))
print(id(list2))
print(list1 is list2)
print(list1 is not list2)
print(list1 == list2)

True
False
132282182133296
132282181407088
132282182133296
True
True
False
132282181405824
132282200211328
False
True
True

In [28]:
#Membership Oprator
print("Membership operator")
Name = "Hello Iam Raviteja i am learning python language"
print('R' in Name)
print('Raviteja' in Name)
print('ravi' in Name)
print(' ' in Name)
print(" ")
list = ['Hello',1,'How',2,'are',3,'you']
print('Hello' in list)
print(1 not in list)
print(1 in list)

Membership operator
True
True
False
True

True
False
True

In [29]:
#operator precedance
x,y,z,a = 10,20,30,40
print((x+y)*a+z/x+y)
print((x+y)*a+(z/x+y))
print((x-y)+z**a/a)

1223.0
1223.0
3.039416364764232e+57

In [30]:
#maths functions
import math
print(math.sqrt(8))
print(math.pi)

2.8284271247461903
3.141592653589793

In [31]:
import math as m
print(m.sqrt(8))
print(m.pi)

2.8284271247461903
3.141592653589793

In [32]:
from math import sqrt,pi
print(sqrt(8))
print(pi)

2.8284271247461903
3.141592653589793

In [33]:
#find the area of circle
from math import pi
r = 6
print("Square root of circle is ",pi*r**2)

Square root of circle is  113.09733552923255

In [34]:
# math functions pi e inf nan ceil(x) floor(x) pow(x,y) factorial(x) trunc(x) gcd(x,y) sin(x) cos(x) tan(x) cosec(x) .....
from math import pi,e,inf,nan,ceil,floor,pow,factorial,trunc,gcd,sin,cos
x = 6.2
y = 9
z = 12
print("Print the pi value: ",pi)
print("print the e value: ",e)
print("Print the infinity value: ",inf*0)
print("print the not a number value: ",8)
print(ceil(x)) #It rounds up the number by giving greater or equal to input
print(floor(y))#It rounds down the number by giving lower or equal to input
print(pow(x,y)) #It takes as x to the power of y
print(factorial(y))#It gives value of factorial
print(trunc(x))#It truncates the decimal part of number then gives the int value
print(gcd(y,z))#It gives greater number which divides two or more and gives remainder as 0

Print the pi value:  3.141592653589793
print the e value:  2.718281828459045
Print the infinity value:  nan
print the not a number value:  8
7
9
13537086.546263555
362880
6
3

In [38]:
# infinity program
import math
from math import inf
positive_int = math.inf
z =1000
if z > positive_int :
  print("z is greater than postive infinity")
else:
  print("z is not greater than postive infinity")

result = positive_int + 10
print("Result of positive infinity is ", result)

if positive_int == positive_int:
  print("positive infinity is equal to itself ")
else:
  print("positive infinity is not equal to itself")

z is not greater than postive infinity
Result of positive infinity is  inf
positive infinity is equal to itself

In [39]:
import math as m
from math import inf
positive_num = m.inf
l = 101
if l > positive_num:
  print("L is greater than positive infinity")
else:
  print("L is not greater than positive infinity")

result = positive_num + 10
print("Result of positive infinity is ", result)

if positive_num == positive_num:
  print("positive inifinity is equal to itself")
else:
  print("Positive infinity is not equal to itself")

L is not greater than positive infinity
Result of positive infinity is  inf
positive inifinity is equal to itself

In [ ]:
#input & output statements
# there two inputs
#1. raw_input() in this data given as input will print in str type if we want to change type of data then we use type.cast method.
#2.input() in this data it is same like raw input but here name is changed.
v = (input("helo enter:"))
type(v)
b_benguluru = 10
print(type(b_benguluru))
value=10.5
type(value)

In [41]:
a = int(input("Enter first value: "))
b = int(input("Enter the second value: "))
print("Sum of both variables are: " , a+b)

Enter first value: 10
Enter the second value: 20
Sum of both variables are:  30

In [42]:
#Read emp data and confirm data after giving input
eno = int(input("Enter employee no: "))
ename = input("Enter the emp name: ")
esal = int(input("Enter the salary of emp: "))
eaddr = input("Enter the address of emp: ")
married = bool(input("Emp Married?(True|False): "))
print("Please confirm the information")
print("Employee name: ",eno)
print("Salary of Emp: ",ename)
print("Address of Emp: ",eaddr)
print("Employee Married: ",married)

Enter employee no: 101
Enter the emp name: ravi
Enter the salary of emp: 30000
Enter the address of emp: hyd
Emp Married?(True|False): False
Please confirm the information
Employee name:  101
Salary of Emp:  ravi
Address of Emp:  hyd
Employee Married:  True

In [50]:
#read multiple values from keyboard in single line
a,b = [int(x) for x in input("Enter the two numbers: ").split(',')]
print("Product is: ",a*b)

Enter the two numbers: 20,20
Product is:  400

In [51]:
# read 3 float from keyboard with , separator n print the sum
a,b,c = [float(x) for x in input("Enter the three numbers: ").split(',')]
print("Sum of three numbers is: ",a+b+c)

Enter the three numbers: 21.5,20.1,1.1
Sum of three numbers is:  42.7

In [54]:
#eval() eval function takes input in string n gives output
a = eval("10+10+10")
print(a)
b = eval(input("Enter the expression: "))
print(b)

30
Enter the expression: '10'
10

In [56]:
expression = input("Enter a mathematical expression (e.g., 10 + 5): ")
result = eval(expression)
print("Result:", result)

Enter a mathematical expression (e.g., 10 + 5): 20+5
Result: 25